html,
body {
  width: 100%;
  height: 100%;
  background-color: #64bfeb;
}

.App {
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 100px;
  width: 33%;
}

button {
  height: 75px;
  width: 75px;
}

.count {
  margin: auto;
  font-size: 10rem;
  color: red;
}

.resetButton {
  width: 33%;
  margin-top: 25px;
}

h2 {
  margin: auto;
  font-size: 4.5rem;
}

h3 {
  margin: auto;
}
